div#viewarea {
    display: none;
}

.editable {
    display: none;
}

div.loggedin {
    display: none;
}

div#login {
    position: relative;
    left: 360px;
    top: -45px;
    width: 300px;
    text-align: right;
}
