div#viewarea {
    display: none;
}

pre#content {
    border: solid;
    width: 650px;
    padding: 5px;
    border-width: 1px;
}

div#link {
    font-style: italic;
}

.editable {
    display: none;
}

div.loggedin {
    display: none;
}

div#login {
    position: relative;
    left: 360px;
    top: -45px;
    width: 300px;
    text-align: right;
}
