<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/texthole.js"></script>

<link rel="stylesheet" type="text/css" href="/static/texthole.css" />
<title>TextHole</title>
<div id="header">
<h3>TextHole</h3>
</div>
<div id="login">
{% if user %}
{{user}} <a href="/logout">Logout</a><br>
{% else %}
<a href="/login">Login</a><br>
{% endif %}
</div>
<div id="navigatearea">
<input type="text" id="navigateinput">
<button id="navigatebutton" onclick="navigate_button()">Navigate</button>
</div>
<div id="viewarea">
    <div id="link"></div>
    <p><pre id="content"></pre></p>
</div>
<div id="editarea">
<textarea rows=25 cols=80 id="inputarea" wrap='off'></textarea><br>
Expires:
<select id="expiry">
    <option value="1800">30 minutes</option>
    <option value="21600">6 hours</option>
    <option value="86400">1 day</option>
    <option value="604800">7 days</option>
    <option value="2592000">30 days</option>
</select><br>
<div class="loggedin">
Anonymous: <input type="checkbox" id="anonymous" value="anonymous"/><br>
</div>
<button id="submit" onclick="create_tag('None')">Submit</button>
<button class="editable" id="delete" onclick="delete_tag(current_tag)">Delete</button>
<button class="editable" id="update" onclick="create_tag(current_tag)">Update</button>
<br>
</div>
<script type="text/javascript">
    $(document).ready(page_setup("{{tag}}", "{{user}}"));

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34833798-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
